body{
    
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border: 1px solid white;
}
.logo{
    width: 80px;
    height: 100px;
}
.nav-items>ul{
    display: flex;
    list-style: none;
    color: aliceblue;
}
.nav-items>ul>li{
    margin: 10px;
    padding: 10px;
}
.search{
    padding: 5px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 20px;
  
}

/* Individual card */
.toy-card {
  background-color: #fffdf5;
  width: 220px;
  border-radius: 15px;
  overflow: hidden;
  padding: 15px;
  border: 1px solid #eee;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* Hover effect */
.toy-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  border-color: #d4a017;
}

/* Image style */
.toy-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* Toy name */
.toy-card h3 {
  margin: 6px 0;
  font-weight: 550;
  color: #333;
}
