* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F4E8C1;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2A6166;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #FFAD33;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.nav-left,
.nav-right {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-left li,
.nav-right li {
  margin: 0 10px;
  cursor: pointer;
}

.header-center input[type="search"] {
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.banner-img{
  width: 100%;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  display: block;

}
.banner {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
}

.card {
  width: 200px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  padding: 15px;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.card-title,
.card-author,
.card-price {
  margin: 10px 0 5px;
  font-size: 16px;
  color: #333;
}

.card-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #2A6166;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-button:hover {
  background-color: #1d494d;
}
