body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F4E8C1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2A6166;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #FFAD33;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.nav-left,
.nav-right {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-left li,
.nav-right li {
  margin: 0 10px;
  cursor: pointer;
}

.header-center input[type="search"] {
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}
